<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soulful | Experiences that nourish your soul</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Fonts -->
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet">
    <!-- Responsiveness with javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
    <!-- Page wrapper -->
    <div class="root" id="page-background">
        <!-- Header -->
        <header class="row justify-space-between" style="padding: 5px 30px;">
            <h1 id="title">Soulful</h1>
            <div class="row align-center justify-center">
                <button class="navigation-button root" id="GoToAboutUs">About Us</button>
                <button class="navigation-button root" id="GoToStories">Stories behind our local businesses</button>
                <button class="navigation-button root">Host your experience</button>
                <button class="navigation-button root">Menu/Profile</button>
            </div>
        </header>
        <!-- Intro -->
        <div class="column add-background" style="padding: 5px; margin: 5px 0 20px;">
            <p class="align-center justify-center text-center" id="header">
                Discover <span style="color: darkorange;">unique wellness and creative activities</span> that relax, recharge and connect
            </p>
            <p class="align-center justify-center text-center" id="description">
                A mix of yoga, breathwork, ice baths, nature activities, and craft workshops, all offered by independent businesses and communities.
            </p>   
        </div>
        <!-- Search panel -->
        <div class="row align-center justify-center" style="padding: 5px; margin: 50px 0 50px;">
            <div class="row flex-40">
                <button class="flex-40 text-left"><b>Location</b> <br> Where are you going?</button>
                <button class="flex-30 text-left"><b>Date</b> <br> Add Dates</button>
                <button class="flex-20 text-left"><b>Group size</b> <br> Solo or group</button>
                <button class="flex-10 text-left"><b>Search</b></button>
            </div>
        </div>
        <hr>
        <!-- Filters -->
        <div class="row" style="padding: 5px; margin: 50px 0 50px;">
            <div class="row align-center justify-center flex-50 with-scroll">
                <button class="flex-10 text-center" style="margin: 10px;">Yoga</button>
                <button class="flex-10 text-center" style="margin: 10px;">Mindfulness</button>
                <button class="flex-10 text-center" style="margin: 10px;">Nature activities</button>
                <button class="flex-10 text-center" style="margin: 10px;">Creative crafts</button>
                <button class="flex-10 text-center" style="margin: 10px;">Great for solo</button>
                <button class="flex-10 text-center" style="margin: 10px;">Great for group</button>
            </div>
        </div>
        <!-- Experiences -->
        <div>
            <div class="row wrap justify-space-between gap10" style="padding: 30px 30px;">
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <!-- hidden -->
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
                <div class="flex-20 item" style="display:none;">
                    <img src="https://placehold.co/100" class="width100" style="aspect-ration: 1;" />
                    <div class="row justify-space-between">
                        <span>4.94 (233 reviews)</span>
                        <span>Dalston (location)</span>
                    </div>
                    Pottery Taster Class with Yoga and Meditation
                    <br />
                    From $30/person
                </div>
            </div>
            <div class="row justify-center" style="margin: 50px;">
                <button class="button-25" id="button-25">See More</button>
            </div>
        </div>
        <!-- About Us -->
        <div class="row orange-text" id="AboutUs" style="background-color: rgb(235, 212, 255)">
            <img src="{{ url_for('static', filename='images/orange_image.svg') }}" alt="Orange Image" style="margin: 8%; margin-right: 5%;">
            <div class="row" style="margin-top: 5%; margin-bottom: 2%; margin-left: 2%; margin-right: 8%;">
                <p>
                    <span style="font-size: 50px;">Self-care is slowing down.<br /> Self-care is playing and having fun!</span>
                    <br />
                    <br />
                    <br />
                    <span class="describe">Our mission is simple. To help people recharge, stay present, and connect with themselves and like-minded individuals through wellness and creative experiences.</span>
                </p>
            </div>
        </div>
        <!-- Stories -->
        <div class="column white-text" id="Stories" style="background-color: rgb(42, 98, 113); margin-bottom: 20px;">
            <p class="text-center" style="font-size: 90px;">Stories behind our local businesses</p>
            <div class="row slider-container">
                <button class="flex-10 arrow" id="left-arrow">&laquo;</button>
                <div class="row slider-wrapper">
                    <div class="row slider-section">
                        <div class="row slide">
                            <!-- first slide -->
                            <img src="{{ url_for('static', filename='images/placeholder_image.svg') }}" alt="Placeholder" class="flex-30 justify-center align-center" style="margin: 50px;">
                            <div class="column justify-center" style="margin: 50px;">
                                <span style="font-size: 50px;">Dalston Clay</span>
                                <br />
                                <p class="describe" style="font-size: 30px;">Owner Julie Baker</p>
                                <br />
                                <br />
                                <span class="describe" style="font-size: 30px;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, se d do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum.
                                </span>
                            </div>
                        </div>
                        <div class="row slide">
                            <!-- second slide -->
                            <img src="{{ url_for('static', filename='images/placeholder_image.svg') }}" alt="Placeholder" class="flex-30 justify-center align-center" style="margin: 50px;">
                            <div class="column justify-center" style="margin: 50px;">
                                <span style="font-size: 50px;">ABC Corp</span>
                                <br />
                                <p class="describe" style="font-size: 30px;">Owner ABC</p>
                                <br />
                                <br />
                                <span class="describe" style="font-size: 30px;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                    est laborum.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="flex-10 arrow" id="right-arrow">&raquo;</button>
            </div>
        </div>
    </div>
</body>


